.col-recommend {
  width: 216px;
  height: 144px;

  hr {
    width: 56px;
    border: 1px solid white;
  }
}

.col-recommend__title {
  font-size: 22px;
  max-width: 180px;
}

.col-recommend__subtitle {
  font-size: 18px;
}
