.body-record {
  height: 304px;
  background-color: theme("colors.dark.DEFAULT");
  margin-top: 54px;
}

.my-exercise {
  height: 264px;
  background-color: theme("colors.dark.DEFAULT");
  margin-top: 54px;
}

.my-diary {
  margin-top: 54px;
}

.my-diary__title {
  font-size: 22px;
  font-weight: 400;
}

.my-exercise__title {
  font-size: 15px;
  display: block;
  width: 72px;
  margin-right: 16px;
}

.my-exercise__date {
  font-size: 22px;
}
