.body-record {
  height: 304px;
  background-color: theme("colors.dark.DEFAULT");
  padding: 42px 0px;
  margin-top: 54px;
}

.my-exercise {
  height: 264px;
  background-color: theme("colors.dark.DEFAULT");
  margin-top: 54px;
}

.my-diary {
  margin-top: 54px;
}

.my-diary__title {
  font-size: 22px;
  font-weight: 400;
}
