.btn-menu {
  color: white;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: theme("colors.dark.500");
}

.btn-menu:hover {
  filter: brightness(120%);
}

.btn-menu__icon {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.btn-menu__icon-memo {
  background-image: url("~/public/img/icons/memo.svg");
}

.btn-menu__icon-challenge {
  background-image: url("~/public/img/icons/challenge.svg");
}

.btn-menu__icon-info {
  background-image: url("~/public/img/icons/info.svg");
}

.btn-menu__label {
  font-size: 16px;
}

.btn-menu__info-count {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: theme("colors.primary.500");
  color: white;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -8px;
  top: 0;
}
